<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="/img/image2.jpg" alt="The dude is a wonderful person.">
        <img class="portrait" src="/img/image1.jpg">
    </div>
    {{>footer}}
</body>

</html>